{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
  {# Main Row #}
  <div class="row">

    {# Main Content Column #}
    <div class="col-lg-8 col-md-6 mainContent">

      <div class="sponsoredQuestion">
        <h3>Sponsored Questions</h3>
        <hr>
        <div class="row">
          {% if sponsored_list %}
            {% for sponsored_article in sponsored_list %}
              <div class="col-lg-4 text-center">
                <a href="{% url 'Articles:article-detail' pk=sponsored_article.id %}">
                  <div class="sponsoredContentImage imageBox">
                    <img src="{% static 'Flyting/images/F.png' %}" alt="Story Image">
                  </div>
                  <h5>{{ sponsored_article.question }}</h5>
                </a>
              </div>
            {% endfor %}
          {% else %}
            <div class="sponsoredContentImage">
              <h4>HEADER IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          {% endif %}
        </div>
      </div>

      <div class="mainPageItem">
        <h3>
          <a href="{% url 'Categories:detail' slug='politics' %}">Politics</a>
        </h3>
        <hr>

        <div class="row">
          {% if politics_list %}
            {% for politics_article in politics_list %}
              <div class="col-lg-4 text-center">
                <a href="{% url 'Articles:article-detail' pk=politics_article.id %}">
                  <div class="imageBox">
                    <img src="{% static 'Flyting/images/F.png' %}" alt="Story Image">
                  </div>
                  <h5>{{politics_article.question}}</h5>
                </a>
              </div>
            {% endfor %}
          {% else %}
            <div class="col-lg-4">
              <div class="imageBox">
                <h4>STORY IMAGE</h4>
              </div>
              <p>HEADLINE</p>
            </div>

            <div class="col-lg-4">
              <div class="imageBox">
                <h4>STORY IMAGE</h4>
              </div>
              <p>HEADLINE</p>
            </div>

            <div class="col-lg-4">
              <div class="imageBox">
                <h4>STORY IMAGE</h4>
              </div>
              <p>HEADLINE</p>
            </div>
          {% endif %}
        </div>

      </div>

      <div class="mainPageItem">
        <h3>
          <a href="{% url 'Categories:detail' slug='culture' %}">Culture</a>
        </h3>
        <hr>

        <div class="row">
          {% if culture_list %}
            {% for culture_article in culture_list %}
              <div class="col-lg-4 text-center">
                <a href="{% url 'Articles:article-detail' pk=culture_article.id %}">
                  <div class="imageBox">
                    <img src="{% static 'Flyting/images/F.png' %}" alt="Story Image">
                  </div>
                  <h5>{{culture_article.question}}</h5>
                </a>
              </div>
            {% endfor %}
          {% else %}
            <div class="col-lg-4">
              <div class="imageBox">
                <h4>STORY IMAGE</h4>
              </div>
              <p>HEADLINE</p>
            </div>

            <div class="col-lg-4">
              <div class="imageBox">
                <h4>STORY IMAGE</h4>
              </div>
              <p>HEADLINE</p>
            </div>

            <div class="col-lg-4">
              <div class="imageBox">
                <h4>STORY IMAGE</h4>
              </div>
              <p>HEADLINE</p>
            </div>
          {% endif %}
        </div>

      </div>

      <div class="mainPageItem">
        <h3>
          <a href="{% url 'Categories:detail' slug='sports' %}">Sports</a>
        </h3>
        <hr>

        <div class="row">
          {% if sports_list %}
            {% for sports_article in sports_list %}
              <div class="col-lg-4 text-center">
                <a href="{% url 'Articles:article-detail' pk=sports_article.id %}">
                  <div class="imageBox">
                    <img src="{% static 'Flyting/images/F.png' %}" alt="Story Image">
                  </div>
                  <h5>{{sports_article.question}}</h5>
                </a>
              </div>
            {% endfor %}
          {% else %}
            <div class="col-lg-4">
              <div class="imageBox">
                <h4>STORY IMAGE</h4>
              </div>
              <p>HEADLINE</p>
            </div>

            <div class="col-lg-4">
              <div class="imageBox">
                <h4>STORY IMAGE</h4>
              </div>
              <p>HEADLINE</p>
            </div>

            <div class="col-lg-4">
              <div class="imageBox">
                <h4>STORY IMAGE</h4>
              </div>
              <p>HEADLINE</p>
            </div>
          {% endif %}
        </div>

      </div>

    </div>
    {# End Main Content Column #}

    {# Daily Drip Column #}
    <div class="col-lg-4 col-md-6">
      <div class="dailyDrip">
        <h3 class="dailyDripHeader">Daily Drip</h3>
        <ol>
          {% if daily_drip %}
            {% for drip_article in daily_drip %}
              <a href="{% url 'Articles:article-detail' pk=drip_article.id %}">
                <li style="padding-right:5px;">
                  <h5>{{ drip_article.question }}</h5>
                  <p>{{ drip_article.sub_header }}</p>
                </li>
              </a>
            {% endfor %}
          {% else %}
            <li>
              <h5>Heading 1</h5>
              <p>Subheader information goes down here for more info.</p>
            </li>
            <li>
              <h5>Heading 2</h5>
              <p>Subheader information goes down here for more info.</p>
            </li>
            <li>
              <h5>Heading 3</h5>
              <p>Subheader information goes down here for more info.</p>
            </li>
            <li>
              <h5>Heading 4</h5>
              <p>Subheader information goes down here for more info.</p>
            </li>
            <li>
              <h5>Heading 5</h5>
              <p>Subheader information goes down here for more info.</p>
            </li>
          {% endif %}
        </ol>
      </div>
      {# <div class="topZinger"> #}
        {# <h3 style="text-align:center;">Top Zinger</h3> #}
        {# <p>@Rob 1/5/2018</p> #}
        {# <p>I'd agree with you, but then we'd BOTH be wrong.</p> #}
      {# </div> #}
    </div>
    {# End Daily Drip Column #}

  {# End Main Row #}
  </div>

{% endblock %}
