{% extends "base.html" %}

{% block content %}
  {# Main Row #}
  <div class="row">

    {# Main Content Column #}
    <div class="col-lg-8 col-md-6 mainContent">

      <div class="AD">
        <h5>728x90 AD SPACE</h5>
      </div>

      <div class="sponsoredQuestion">
        <h3>SPONSORED QUESTION</h3>
        <hr>
        <div class="sponsoredContentImage">
          <h4>HEADER IMAGE</h4>
        </div>
        <p>HEADLINE</p>
      </div>

      <div class="mainPageItem">
        <h3>POLITICS</h3>
        <hr>

        <div class="row">
          <div class="col-lg-4">
            <div class="imageBox">
              <h4>STORY IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          </div>

          <div class="col-lg-4">
            <div class="imageBox">
              <h4>STORY IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          </div>

          <div class="col-lg-4">
            <div class="imageBox">
              <h4>STORY IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          </div>
        </div>

      </div>

      <div class="mainPageItem">
        <h3>CULTURE</h3>
        <hr>

        <div class="row">
          <div class="col-lg-4">
            <div class="imageBox">
              <h4>STORY IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          </div>

          <div class="col-lg-4">
            <div class="imageBox">
              <h4>STORY IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          </div>

          <div class="col-lg-4">
            <div class="imageBox">
              <h4>STORY IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          </div>
        </div>

      </div>

      <div class="mainPageItem">
        <h3>SPORTS</h3>
        <hr>

        <div class="row">
          <div class="col-lg-4">
            <div class="imageBox">
              <h4>STORY IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          </div>

          <div class="col-lg-4">
            <div class="imageBox">
              <h4>STORY IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          </div>

          <div class="col-lg-4">
            <div class="imageBox">
              <h4>STORY IMAGE</h4>
            </div>
            <p>HEADLINE</p>
          </div>
        </div>

      </div>

      <div class="AD">
        <h5>728x90 AD SPACE</h5>
      </div>

    </div>
    {# End Main Content Column #}

    {# Daily Drip Column #}
    <div class="col-lg-4 col-md-6">
      <div class="dailyDrip">
        <h3 class="dailyDripHeader">Daily Drip</h3>
        <ol>
          <li>
            <h5>Heading 1</h5>
            <p>Subheader information goes down here for more info.</p>
          </li>
          <li>
            <h5>Heading 2</h5>
            <p>Subheader information goes down here for more info.</p>
          </li>
          <li>
            <h5>Heading 3</h5>
            <p>Subheader information goes down here for more info.</p>
          </li>
          <li>
            <h5>Heading 4</h5>
            <p>Subheader information goes down here for more info.</p>
          </li>
          <li>
            <h5>Heading 5</h5>
            <p>Subheader information goes down here for more info.</p>
          </li>
        </ol>
      </div>
      <div class="topZinger">
        <h3 style="text-align:center;">Top Zinger</h3>
        <p>@Rob 1/5/2018</p>
        <p>I'd agree with you, but then we'd BOTH be wrong.</p>
      </div>
    </div>
    {# End Daily Drip Column #}

  {# End Main Row #}
  </div>
{% endblock %}
