{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

  <div class="profileCSS">
    <div class="row">
      <div class="col-lg-12">

        <div class="row">
          <div class="col-lg-4 leftHeader">
            <div class="profileGraphic" style=""></div>
            <br>
            <input type="button" name="" value="Follow">
            <p style="margin-bottom:0;">234 Follwers</p>
            <p style="margin-bottom:0;">14,112 Points</p>
            <br>
          </div>
          <div class="col-lg-8">
            <h3 style="text-align:right;">{{customuser.username}}</h3>
            <hr>
            <div class="fakeBar"></div>
            <p>Persuasion</p>
            <div class="fakeBar"></div>
            <p>Wit</p>
            <div class="fakeBar"></div>
            <p>Vigor</p>
            <div class="fakeBar"></div>
            <p>Understanding</p>
          </div>
        </div>

        {# Trophies #}
        <div class="">
          <table>
            <tr>
              <td>Trophy 1</td>
              <td>Trophy 2</td>
              <td>Trophy 3</td>
              <td>Trophy 4</td>
            </tr>
            <tr>
              <td>Trophy 5</td>
              <td>Trophy 6</td>
              <td>Trophy 7</td>
              <td>Trophy 8</td>
            </tr>
          </table>
        </div>

        <br>

        {# AD space #}
        <div class="AD" style="padding:10px;">
          <h5>900X90 AD SPACE</h5>
        </div>

        <br>

        {# User's Top Zinger #}
        <div class="topZingerProfile">
          <h3>Top Zinger</h3>
        </div>

        <br>

        {# AD Space #}
        <div class="AD" style="padding:10px;">
          <h5>900X90 AD SPACE</h5>
        </div>

        <br>

        {# User's Top SoapBox #}
        <div class="topSoapBoxProfile">
          <h3>Top SoapBox</h3>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
