.navBrand {
  font-size: 2.5rem;
}

.mainContainer {
  margin-top: 10px;
}

.AD {
  text-align: center;
  border: 1px dotted black;
  padding: 15px;
}


/* Home Page CSS */

.mainContent {

}

.sponsoredQuestion {
  margin-top: 10px;

}

.sponsoredContentImage {
  border: 2px solid black;
}

.mainPageItem {
  margin-top: 10px;
}

.imageBox img {
  /* border: 2px solid black; */
  max-width:100%;
  max-height:100%;
}

.dailyDripHeader {
  background: linear-gradient(rgba(123,0,162,0.9), rgba(123,0,162,0.65));
  color: rgba(255,255,255,1.0);
  text-align: center;
  padding: 15px 0px 15px 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.dailyDrip {
  border-radius: 12px;
  background: white;
  /* border: 1px solid; */
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topZinger {
  padding: 7px;
  margin-top: 10px;
  border: 1px solid;
}

/* End Home Page CSS */



/* Profile Page CSS */

.profileCSS {
  width: 70%;
  margin: 0 auto;
}

.leftHeader {
  text-align: center;
}

.profileGraphic {
  background: url(http://placehold.it/50x50);
    background-repeat: no-repeat;
    background-size: cover;

    overflow:hidden;
    -webkit-border-radius:200px;
    -moz-border-radius:200px;
    border-radius:200px;
    width:200px;
    height:200px;
    margin: auto;
}

.fakeBar {
  background-color: black;
  height: 15px;
  width: 100%;
}

td {
  border: 1px solid;
  text-align: center;
  padding: 10px;
}

table {
  width: 100%;
  border: 3px solid;
}

.topZingerProfile {
  border: 5px solid;
}

.topSoapBoxProfile {
  border: 5px solid;
}

/* End Profile Page CSS */

/* Article CSS */
a{
  color: rgb(0,0,0);
}
a:hover {
  color: rgb(0,0,0);
}

.imgBoxBorder {
  padding: 10px;
  /* border: 1px solid; */
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.topZingerArticle {
  /* border: 5px solid; */
}

.topSoapBoxArticle {
  border: 5px solid;
}
/* End Article CSS */

.slimJumbo {
  background: rgba(60,0,80,0.18);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3rem 3rem;
}

.slimmerJumbo {
  background: rgba(60,0,80,0.18);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem 1rem;
}

ul {
  list-style: none;
}

.FlytingLogo {
  width: 150px;
}

.nbCSS {
  /* background-color: rgba(123,0,162,0.65); */
  background: linear-gradient(rgba(95,14,97,1), rgba(123,0,162,0.8));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ul.navLinkCSS {
  color: #fffffff5;
}

nav a {
  color: red;
} */
.articleJumbo {
  background: rgba(60,0,80,0.18);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background: #d3d3d33b;
}

.pageButton {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rebuttal {
  background: rgba(60,0,80,0.18);
}

.trophy {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}

.sourceImg img{
  width: 60%;
  height: 60%;
}

.upvoteImg img{
  width: 10%;
  height: 10%;
}

.nav-tabs .nav-link.active {
  background-color: rgba(60,0,80,0.18);
}
