<div class="row">
  <div class="col-lg-1">
    <button class="toggleButton-{{rebuttal.id}}" type="button" name="button">-</button>
  </div>
  <div class="col-lg-11">
    <div class="commentContainer-{{rebuttal.id}}">
      <div style="" class="jumbotron slimmerJumbo rebuttal">
        <div class="row">
          <div class="col-lg-6 text-left">
            <h5 style="margin:0;">@: <a href="{% url "Accounts:profile-detail" pk=rebuttal.customuser.id %}">{{rebuttal.customuser.username}}</a>  -  <em>{{ rebuttal.team }}</em></h5>
          </div>

          <div class="col-lg-6 soapboxPointButtons text-right">
            <h5>Points:
              <span class="{{ rebuttal.id }}">{{ rebuttal.points }}</span>
              <button type="button" class="rebuttalUpvote btn btn-dark" value="{{ rebuttal.id }}" name="button">+</button>
              {# <button type="button" class="rebuttalUpvote" value="{{ rebuttal.id }}" name="button"> #}
                {# <div class="upvoteImg"> #}
                  {# <img src="{% static 'Flyting/images/UpvoteButton.png' %}" alt="+"> #}
                {# </div> #}
              {# </button> #}
              <button type="button" class="rebuttalDownvote btn btn-dark" value="{{ rebuttal.id }}" name="button">-</button>
              <a class="btn btn-dark" href="{% url 'Soapbox:rebuttal-reply-create' soap_pk=rebuttal.parent.id reb_pk=rebuttal.id %}">Reply</a>
            </h5>
          </div>
        </div>


        <p>{{ rebuttal.message_html|safe }}</p>
        <em>Created on: {{rebuttal.created_at}}</em>
      </div>

      {% if rebuttal.children.exists %}
        <ul class="comment-list">
          {% for rebuttal in rebuttal.children.all %}
            <li class="comment">
              {% include "Rebuttal/_rebuttal.html" %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
      {% endif %}
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
  $('.toggleButton-{{rebuttal.id}}').click(function() {
    $('.commentContainer-{{rebuttal.id}}').slideToggle();
    var cur = $('.toggleButton-{{rebuttal.id}}');
    if (cur.html() == '+') {
      cur.html('-');
    }
    else {
      cur.html('+');
    }
  });
</script>
