{% extends "Soapbox/soapbox_base.html" %}

{% block soapbox_content %}
  <div class="col-lg-12">
    <h4>Create New Rebuttal</h4>
    {% if reply_bool %}
      <form method="POST" action="{% url 'Soapbox:rebuttal-reply-create' soap_pk=soapbox.id reb_pk=view.kwargs.reb_pk %}" id="soapboxForm">
      	{% csrf_token %}
      	{{ form.as_up }}
      	<input type="submit" value="Post" class="btn btn-primary btn-large">
      </form>
    {% else %}
      <form method="POST" action="{% url 'Soapbox:rebuttal-create' soap_pk=soapbox.id %}" id="soapboxForm">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Post" class="btn btn-primary btn-large">
      </form>
    {% endif %}
  </div>
{% endblock %}
