{% extends "Soapbox/soapbox_base.html" %}

{% block pre_soapbox %}
  <div class="col-lg-12 text-center">
    <div class="">
      <a href="{% url 'Articles:article-detail' pk=soapbox_article.id %}">
        <h1>{{ soapbox_article.question }}</h1>
      </a>
      <hr>
      <h4>Total Votes: {{soapbox_article.get_total_votes}}</h4>
      <br>
    </div>
  </div>

  <div class="col-lg-12 text-center">
    {% if vote %}
      <div class="row">
        {% for choice in choices %}
          <div class="col-lg-6 text-center">
            <div class="jumbotron articleJumbo">
              <h4>{{ choice.vote_percentage }}</h4>
              <h4>{{ choice.choice_text }}</h4>
            </div>
          </div>
        {% endfor %}
      </div>
      <h3>You selected team: <span>{{ vote }}</span></h3>
      <hr>
      <div class="col-lg-12 text-center">
        <a class="pageButton btn btn-dark" href="{% url 'Soapbox:soapbox-create' art_pk=soapbox_article.pk %}">
          <h6>Submit New SoapBox</h6>
        </a>
      </div>
    {% else %}
      <div class="jumbotron">
        <a class="btn btn-dark" href="{% url 'Articles:article-detail' pk=soapbox_article.id %}#QUESTION">
          <h2>Vote to View Results</h2>
        </a>
      </div>
    {% endif %}
  </div>

{% endblock %}

{% block soapbox_content %}
  <div class="col-lg-12">
    <br>

    {% if soapbox_list_array %}
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          {% for choice in choices %}
            {% if forloop.first %}
              <a class="nav-item nav-link active" id="nav-{{ choice.choice_text }}-tab" data-toggle="tab" href="#nav-{{ choice.choice_text }}" role="tab" aria-controls="nav-{{ choice.choice_text }}" aria-selected="true">{{ choice.choice_text }}</a>
            {% else %}
              <a class="nav-item nav-link" id="nav-{{ choice.choice_text }}-tab" data-toggle="tab" href="#nav-{{ choice.choice_text }}" role="tab" aria-controls="nav-{{ choice.choice_text }}" aria-selected="false">{{ choice.choice_text }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        {% for qs in soapbox_list_array %}
          {% if forloop.first %}
            <div class="tab-pane fade show active" id="nav-{{ qs.choice }}" role="tabpanel" aria-labelledby="nav-{{ qs.first.team }}-tab">
              <div class="col-lg-12 text-center">
                <br>
                <h3>"<span>{{ qs.choice }}</span>" Soapboxes - <span>{{ qs.soapbox_set.count }}</span></h3>
                <br>
              </div>
              {% if qs.soapbox_set.exists %}
                {% for soapbox in qs.soapbox_set %}
                  {% include "Soapbox/_soapbox.html" %}
                {% endfor %}
              {% else %}
                <h5>No Soapboxes yet...</h5>
              {% endif %}
            </div>
          {% else %}
            <div class="tab-pane fade" id="nav-{{ qs.choice }}" role="tabpanel" aria-labelledby="nav-{{ qs.first.team }}-tab">
              <div class="col-lg-12 text-center">
                <br>
                <h3>"<span>{{ qs.choice }}</span>" Soapboxes - <span>{{ qs.soapbox_set.count }}</span></h3>
                <br>
              </div>
              {% if qs.soapbox_set.exists %}
                {% for soapbox in qs.soapbox_set %}
                  {% include "Soapbox/_soapbox.html" %}
                {% endfor %}
              {% else %}
                <h5>No Soapboxes yet...</h5>
              {% endif %}
            </div>
          {% endif %}

        {% endfor %}
      </div>
    {% else %}
      <h5>No Soapboxes yet...</h5>
    {% endif %}

  </div>
{% endblock %}

{% block post_soapbox %}
{% endblock %}

{% if soapbox_list %}
  {% block javascript %}
    <script type="text/javascript">
      $('.upvote').each(function(i, obj) {
        $(this).click(function( e ) {
          e.preventDefault();
          $.ajax({
            url: "{% url 'Soapbox:upvote' %}",
            data: {
              'soapbox_id': $(this).val(),
            },
            dataType: 'json',
            success: function(data) {
              $(data.div_edit).html(data.new_total);
            },
            error: function(data) {
              alert("Please login to vote!");
            },
          });
        })
      });
      $('.downvote').each(function(i, obj) {
        $(this).click(function( e ) {
          e.preventDefault();
          $.ajax({
            url: "{% url 'Soapbox:downvote' %}",
            data: {
              'soapbox_id': $(this).val(),
            },
            dataType: 'json',
            success: function(data) {
              $(data.div_edit).html(data.new_total);
            },
            error: function(data) {
              alert("Please login to vote!");
            },
          });
        })
      });
    </script>
  {% endblock %}
{% endif %}
